<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="2" offset="1">
          <img alt="logo-banner" src="../../assets/images/prigo-logo-banner.png">
        </ion-col>
      </ion-row>

      <!-- <ion-col size="1">
      </ion-col> -->
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id="landing">

    </ion-row>

    <ion-row id="productos">

    </ion-row>

    <ion-row id="form-contacto">
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ¿Querés comercializar nuestros productos?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon size="small" name="person-circle-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                Nombre
              </ion-label>
              <ion-input name="nombre" type="text" autocomplete="given-name" placeholder="Ingrese su nombre">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="person-circle-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                Apellido
              </ion-label>
              <ion-input name="apellido" type="text" autocomplete="family-name" placeholder="Ingrese su apellido">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="business-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                Provincia
              </ion-label>
              <ion-input name="provincia" type="text" autocomplete="address-level1" placeholder="Provincia"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="business-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                Localidad
              </ion-label>
              <ion-input name="localidad" type="text" autocomplete="address-level2" placeholder="Localidad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="call-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                Teléfono
              </ion-label>
              <ion-input name="localidad" type="tel" autocomplete="tel" placeholder="Ingrese su teléfono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="at-outline" slot="start"></ion-icon>
              <ion-label position="fixed">
                E-mail
              </ion-label>
              <ion-input name="localidad" type="email" autocomplete="email" placeholder="Ingrese su correo electrónico">
              </ion-input>
            </ion-item>
          </ion-card-content>

          <ion-button fill="solid" color="tertiary" shape="round">Enviar</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="4">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size-xs="12" size-sm="3">
          <h4>Sobre Prigo</h4>
          <p>
            <ion-icon style="font-size: 18px;" name="call-outline"></ion-icon> 0800-777-7446
          </p>
          <p>
            <ion-icon style="font-size: 18px;" name="location-outline"></ion-icon> Valentín Gómez 577, Haedo, Provincia
            de Buenos Aires
          </p>
        </ion-col>
        <ion-col size-xs="12" size-sm="3">

        </ion-col>
        <ion-col size-xs="12" size-sm="3">
          <h4>Seguinos en nuestras redes</h4>
          <br>
          <div class="ion-justify-content-around">
            <ion-icon style="font-size: 32px;" name="logo-facebook"></ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-instagram" (click)="goToInstagram()">
            </ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-youtube"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto">
          <p>© 2021 - Prigo S.R.L.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>