<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-margin-start" size-md="8" size-xs="auto">
          <img alt="logo-banner" height="44" width="auto" src="../../assets/images/prigo-logo-banner.png">
        </ion-col>

        <ion-col class="ion-margin-end ion-hide-md-down" size="1">
          <ion-button color="light" fill="clear" (click)="scrollTo('productos')">Productos</ion-button>
        </ion-col>
        <ion-col class="ion-margin-end ion-hide-md-down" size="1">
          <ion-button color="light" fill="clear" (click)="scrollTo('form-contacto')">Contacto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row id="landing" class="ion-margin-top">
      
    </ion-row>

    <ion-row id="productos" class="ion-margin-top slide-productos">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-text class="font-size-slider ion-hide-md-down" >
            <p>Premezclas horneables</p>
          </ion-text>
          <img class="slide-image" style="height: 512px;" src="../../assets/images/PRIGOFLOWPACKVAINILLANOBACKGROUND.png">
        </ion-slide>
        <ion-slide>
          <ion-text class="font-size-slider ion-hide-md-down" >
            <p>Brownies caseros</p>
          </ion-text>
          <img class="slide-image" style="height: 512px;" src="../../assets/images/PRIGOFLOWPACKBROWNIENOBACKGROUND.png">
        </ion-slide>
        <ion-slide>
          <ion-text class="font-size-slider ion-hide-md-down" >
            <p>Magdalenas para compartir</p>
          </ion-text>
          <img class="slide-image" style="height: 512px;" src="../../assets/images/BOCADITOSMAGDALENASNOBACKGROUND.png">
        </ion-slide>
        <ion-slide>
          <ion-text class="font-size-slider ion-hide-md-down" >
            <p>Tu snack dulce</p>
          </ion-text>
          <img class="slide-image" style="height: auto; max-height: 512px; max-width: 100%;" src="../../assets/images/BOCADITOSMINIBUDIN.png">
        </ion-slide>
      </ion-slides>

    </ion-row>

    <ion-row id="form-contacto" class="ion-margin-top ion-align-items-center background-comercializa">
      <ion-col size-md="8" size="12">
        <ion-card *ngIf="!formSent">
          <ion-card-header>
            <ion-card-title>
              ¿Querés comercializar nuestros productos?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <!-- class="ion-hide-md-down" -->
              <ion-icon size="small" name="person-circle-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                Nombre
              </ion-label> -->
              <ion-input name="nombre" type="text" autocomplete="given-name" placeholder="Ingrese su nombre">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="person-circle-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                Apellido
              </ion-label> -->
              <ion-input name="apellido" type="text" autocomplete="family-name" placeholder="Ingrese su apellido">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="business-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                Provincia
              </ion-label> -->
              <ion-input name="provincia" type="text" autocomplete="address-level1" placeholder="Provincia"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="business-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                Localidad
              </ion-label> -->
              <ion-input name="localidad" type="text" autocomplete="address-level2" placeholder="Localidad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="call-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                Teléfono
              </ion-label> -->
              <ion-input name="localidad" type="tel" autocomplete="tel" placeholder="Ingrese su teléfono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon size="small" name="at-outline" slot="start"></ion-icon>
              <!-- <ion-label position="fixed">
                E-mail
              </ion-label> -->
              <ion-input name="localidad" type="email" autocomplete="email" placeholder="Ingrese su correo electrónico">
              </ion-input>
            </ion-item>
          </ion-card-content>

          <ion-button class="ion-margin-end ion-margin-bottom ion-float-right" fill="solid" color="tertiary" shape="round" (click)="formSent = !formSent">Enviar</ion-button>
        </ion-card>

        <ion-card *ngIf="formSent">
          <ion-card-header>
            <ion-card-title>¡Gracias por el contacto!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>Un representante de nuestro equipo se estará comunicando con vos en las próximas horas.</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="ion-align-self-center ion-hide-md-down">
        <ion-img src="../../assets/images/comercializa_productos.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size-xs="12" size-sm="3">
          <h4>Sobre Prigo</h4>
          <p>
            <ion-icon style="font-size: 18px;" name="call-outline"></ion-icon> 0800-777-7446
          </p>
          <p>
            <ion-icon style="font-size: 18px;" name="location-outline"></ion-icon> Valentín Gómez 577, Haedo, Provincia
            de Buenos Aires
          </p>
        </ion-col>
        <ion-col size-xs="12" size-sm="3">

        </ion-col>
        <ion-col size-xs="12" size-sm="3">
          <h4>Seguinos en nuestras redes</h4>
          <br>
          <div class="ion-justify-content-around">
            <ion-icon style="font-size: 32px;" name="logo-facebook"></ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-instagram" (click)="goToInstagram()">
            </ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-youtube"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto">
          <p>© 2021 - Prigo S.R.L.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size-xs="12" size-sm="3">
          <h4>Sobre Prigo</h4>
          <p>
            <ion-icon style="font-size: 18px;" name="call-outline"></ion-icon> 0800-777-7446
          </p>
          <p>
            <ion-icon style="font-size: 18px;" name="location-outline"></ion-icon> Valentín Gómez 577, Haedo, Provincia
            de Buenos Aires
          </p>
        </ion-col>
        <ion-col size-xs="12" size-sm="3">

        </ion-col>
        <ion-col size-xs="12" size-sm="3">
          <h4>Seguinos en nuestras redes</h4>
          <br>
          <div class="ion-justify-content-around">
            <ion-icon style="font-size: 32px;" name="logo-facebook"></ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-instagram" (click)="goToInstagram()">
            </ion-icon>
            <ion-icon style="font-size: 32px; margin-left: 32px;" name="logo-youtube"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto">
          <p>© 2021 - Prigo S.R.L.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->